<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdwhNrcc.dao.EntityMapper">
 	<insert id="add" parameterType="com.sdwhNrcc.entity.Entity">
 		insert into entity
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="tagId!=null">
 				tagId,
 			</if>
 			<if test="entityType!=null">
 				entityType,
 			</if>
 			<if test="sex!=null">
 				sex,
 			</if>
 			<if test="departmentId!=null">
 				departmentId,
 			</if>
 			<if test="photo!=null">
 				photo,
 			</if>
 			<if test="pid!=null">
 				pid,
 			</if>
 			<if test="userId!=null">
 				userId,
 			</if>
 			<if test="post!=null">
 				post,
 			</if>
 			<if test="phone!=null">
 				phone,
 			</if>
 			<if test="name!=null">
 				name,
 			</if>
 			<if test="dutyId!=null">
 				dutyId,
 			</if>
 			<if test="id!=null">
 				id,
 			</if>
 			<if test="age!=null">
 				age,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="tagId!=null">
 				#{tagId},
 			</if>
 			<if test="entityType!=null">
 				#{entityType},
 			</if>
 			<if test="sex!=null">
 				#{sex},
 			</if>
 			<if test="departmentId!=null">
 				#{departmentId},
 			</if>
 			<if test="photo!=null">
 				#{photo},
 			</if>
 			<if test="pid!=null">
 				#{pid},
 			</if>
 			<if test="userId!=null">
 				#{userId},
 			</if>
 			<if test="post!=null">
 				#{post},
 			</if>
 			<if test="phone!=null">
 				#{phone},
 			</if>
 			<if test="name!=null">
 				#{name},
 			</if>
 			<if test="dutyId!=null">
 				#{dutyId},
 			</if>
 			<if test="id!=null">
 				#{id},
 			</if>
 			<if test="age!=null">
 				#{age},
 			</if>
 		</trim>
 	</insert>
	<update id="edit" parameterType="com.sdwhNrcc.entity.Entity">
		update entity set
		<trim suffixOverrides=",">
			<if test="tagId!=null">
				tagId=#{tagId},
			</if>
			<if test="entityType!=null">
				entityType=#{entityType},
			</if>
			<if test="sex!=null">
				sex=#{sex},
			</if>
			<if test="departmentId!=null">
				departmentId=#{departmentId},
			</if>
			<if test="photo!=null">
				photo=#{photo},
			</if>
			<if test="pid!=null">
				pid=#{pid},
			</if>
			<if test="userId!=null">
				userId=#{userId},
			</if>
			<if test="post!=null">
				post=#{post},
			</if>
			<if test="phone!=null">
				phone=#{phone},
			</if>
 			<if test="name!=null">
 				name=#{name},
 			</if>
 			<if test="dutyId!=null">
 				dutyId=#{dutyId},
 			</if>
 			<if test="age!=null">
 				age=#{age},
 			</if>
		</trim>
		where id=#{id}
	</update>
 	<select id="queryList" resultType="com.sdwhNrcc.entity.Entity">
 		select * from entity where 1=1 and tagId is not null order by name
 	</select>
	<select id="getCountById" resultType="java.lang.Integer">
		select count(*) from entity where id=#{id}
	</select>
</mapper>