<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdwhNrcc.dao.v3_1.LocationUDPMapper">
	<select id="getCountByUid" resultType="java.lang.Integer">
		select count(*) from ${databaseName}.location where uid=#{uid} and tenantId=#{tenantId}
	</select>
</mapper>