<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdwhNrcc.dao.v3_1.PositionMapper">
 	<insert id="add" parameterType="com.sdwhNrcc.entity.v3_1.Position">
 		insert into location
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="deviceType!=null">
 				deviceType,
 			</if>
 			<if test="uid!=null">
 				uid,
 			</if>
 			<if test="rootAreaId!=null">
 				rootAreaId,
 			</if>
 			<if test="areaId!=null">
 				areaId,
 			</if>
 			<if test="locationTime!=null">
 				locationTime,
 			</if>
 			<if test="lostTime!=null">
 				lostTime,
 			</if>
 			<if test="x!=null">
 				x,
 			</if>
 			<if test="y!=null">
 				y,
 			</if>
 			<if test="z!=null">
 				z,
 			</if>
 			<if test="abslute!=null">
 				abslute,
 			</if>
 			<if test="speed!=null">
 				speed,
 			</if>
 			<if test="floor!=null">
 				floor,
 			</if>
 			<if test="out!=null">
 				`out`,
 			</if>
 			<if test="longitude!=null">
 				longitude,
 			</if>
 			<if test="latitude!=null">
 				latitude,
 			</if>
 			<if test="altitude!=null">
 				altitude,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="deviceType!=null">
 				#{deviceType},
 			</if>
 			<if test="uid!=null">
 				#{uid},
 			</if>
 			<if test="rootAreaId!=null">
 				#{rootAreaId},
 			</if>
 			<if test="areaId!=null">
 				#{areaId},
 			</if>
 			<if test="locationTime!=null">
 				#{locationTime},
 			</if>
 			<if test="lostTime!=null">
 				#{lostTime},
 			</if>
 			<if test="x!=null">
 				#{x},
 			</if>
 			<if test="y!=null">
 				#{y},
 			</if>
 			<if test="z!=null">
 				#{z},
 			</if>
 			<if test="abslute!=null">
 				#{abslute},
 			</if>
 			<if test="speed!=null">
 				#{speed},
 			</if>
 			<if test="floor!=null">
 				#{floor},
 			</if>
 			<if test="out!=null">
 				#{out},
 			</if>
 			<if test="longitude!=null">
 				#{longitude},
 			</if>
 			<if test="latitude!=null">
 				#{latitude},
 			</if>
 			<if test="altitude!=null">
 				#{altitude},
 			</if>
 		</trim>
 	</insert>
	<update id="edit" parameterType="com.sdwhNrcc.entity.v3_1.Position">
		update location set
		<trim suffixOverrides=",">
			<if test="deviceType!=null">
				deviceType=#{deviceType},
			</if>
			<if test="rootAreaId!=null">
				rootAreaId=#{rootAreaId},
			</if>
			<if test="areaId!=null">
				areaId=#{areaId},
			</if>
			<if test="locationTime!=null">
				locationTime=#{locationTime},
			</if>
			<if test="lostTime!=null">
				lostTime=#{lostTime},
			</if>
			<if test="x!=null">
				x=#{x},
			</if>
			<if test="y!=null">
				y=#{y},
			</if>
			<if test="z!=null">
				z=#{z},
			</if>
			<if test="abslute!=null">
				abslute=#{abslute},
			</if>
			<if test="speed!=null">
				speed=#{speed},
			</if>
			<if test="floor!=null">
				floor=#{floor},
			</if>
			<if test="out!=null">
				`out`=#{out},
			</if>
			<if test="longitude!=null">
				longitude=#{longitude},
			</if>
			<if test="latitude!=null">
				latitude=#{latitude},
			</if>
			<if test="altitude!=null">
				altitude=#{altitude},
			</if>
		</trim>
		where uid=#{uid}
	</update>
	<select id="getCountByUid" resultType="java.lang.Integer">
		select count(*) from location where uid=#{uid}
	</select>
	<select id="queryELList" resultType="com.sdwhNrcc.entity.v3_1.Position">
		select l.*,t.userId from location l left join tag t on l.uid=t.id
	</select>
</mapper>