<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdwhNrcc.dao.WarnTriggerMapper">
	<insert id="add" parameterType="com.sdwhNrcc.entity.WarnTrigger">
 		insert into warn_trigger
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="id!=null">
 				id,
 			</if>
 			<if test="name!=null">
 				name,
 			</if>
 			<if test="warnType!=null">
 				warnType,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="id!=null">
 				#{id},
 			</if>
 			<if test="name!=null">
 				#{name},
 			</if>
 			<if test="warnType!=null">
 				#{warnType},
 			</if>
 		</trim>
 	</insert>
</mapper>